<nav class='navbar bg-dark navbar-dark'>
  <a class='navbar-brand' [routerLink]='["/"]'>My Ng 6 Template</a>
</nav>
<nav class='navbar bg-dark navbar-dark '>
  
    <ul class='navbar-nav'>
      <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a class="nav-link" [routerLink]='["/"]' (click)='collapse()'>
          <span class='fa fa-home'></span> Home
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link" [routerLink]='["/counter"]' (click)='collapse()'>
          <span class='fa fa-sort'></span> Counter
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link" [routerLink]='["/fetch-data"]' (click)='collapse()'>
          <span class='fa fa-th-list'></span> Fetch data
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]='["link-active"]'>
        <a class="nav-link" [routerLink]='["/register"]' (click)='collapse()'>
          <span class='fa fa-user'></span> Register / Login
        </a>
      </li>
    </ul>
</nav>
